[submodule "DoMEngine/DoMEngine/vendor/spdlog"]
	path = DoMEngine/DoMEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DoMEngine/DoM/vendor/GLFW"]
	path = DoMEngine/DoM/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "DoMEngine/DoM/vendor/ImGui"]
	path = DoMEngine/DoM/vendor/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "DoMEngine/DoM/vendor/glm"]
	path = DoMEngine/DoM/vendor/glm
	url = https://github.com/g-truc/glm
